<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Omsætning <%= startDateFormatted %>-<%= endDateFormatted %></title>

  <style>

    body {
      margin: 0 1cm;
      font-size: 8pt;
      line-height: 16px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    table {
      width: 100%;
      line-height: inherit;
      text-align: left;
      border-spacing: 0;
      border-collapse: collapse;
      border-bottom: 1px solid #555;
    }

    table.title-table {
      font-size: 14pt;
      line-height: 26px;
      border-bottom: none;
    }

    table.title-table td.logo {
      width: 100px;
    }

    table.title-table td.logo img.svg {
      width: 100px;
      height: 100px;
    }

    table.title-table td.logo img.bitmap {
      width: 100px;
      height: auto;
    }

    table.title-table td.title {
      vertical-align: middle;
      padding-left: 20px;
    }

    td {
      padding: 5px;
      vertical-align: top;
    }

    table.data {
      page-break-inside: avoid;
    }

    table.data td:nth-of-type(1),
    table.total td:nth-of-type(1) {
      width: 50%;
    }

    table.data td:nth-of-type(2),
    table.total td:nth-of-type(2) {
      width: 15%;
    }

    table.data td:nth-of-type(3),
    table.total td:nth-of-type(3) {
      width: 35%;
    }

    table.data tr:nth-of-type(2n) {
      background: #f8f8f8;
    }

    td.amount,
    td.item-count {
      text-align: right;
    }

    tr.category-title td {
      font-weight: 900;
      padding-top: 20px;
      border-bottom: .3mm solid #bbb;
    }

    tr.sub-total td {
      background: #ddd;
      font-weight: bold;
    }

    table.total {
      border-top: 1px solid #555;
      background: #ddd;
      margin-top: 10px;
      font-size: 10pt;
    }


  </style>
</head>

<body>

<table cellpadding="0" cellspacing="0" class="title-table">
  <tr>
    <% if (clientLogoUrl) { %>
    <td class="logo">
      <img src="<%= clientLogoUrl %>" class="<%= clientLogoImgTagClass %>">
    </td>
    <% } %>
    <td class="title">
      Omsætning <%= startDateFormatted %> - <%= endDateFormatted %>
    </td>
  </tr>
</table>

<%
for (let i = 0; i < rows.length; i++) {
  const row = rows[i]
%>

<% if (row.isCategoryTitle) { %>
<table class="data">
  <tr class="category-title">
    <td>
      <%= row.name %>
    </td>
    <td class="item-count">Antal salg</td>
    <td class="amount">Totalbeløb&nbsp;</td>
  </tr>
  <% } else if (row.isSubtotal) { %>
  <tr class="sub-total">
    <td><%= row.name %></td>
    <td class="item-count">
      <%= row.item_count %>
    </td>
    <td class="amount">
      <%= currencyDkk(row.turnover) %> kr
      <% if (row.item_type === 'product') { %>
        <br>(inkl moms <%= currencyDkk(row.vat_amount) %> kr)
      <% } %>
    </td>
  </tr>
</table>
<% } else if (row.isTotal) { %>
<table class="total">
  <tr class="total">
    <td><%= row.name %></td>
    <td class="item-count">
      <%= row.item_count %>
    </td>
    <td class="amount">
      <%= currencyDkk(row.turnover) %> kr
      <br>
      (inkl moms <%= currencyDkk(row.vat_amount) %> kr)

    </td>
  </tr>
</table>
<% } else { %>
<tr class="item">
  <td>
    <%= row.name %>
    <% if (row.subText) {%>
    <br><span class="subtext"><%= row.subText %></span>
    <% } %>
  </td>
  <td class="item-count">
    <%= row.item_count %>
  </td>
  <td class="amount">
    <%= currencyDkk(row.turnover) %> kr
    <% if (row.item_type === 'product') { %>
    <br>(inkl moms <%= currencyDkk(row.vat_amount) %> kr)
    <% } %>
  </td>
</tr>
<% } %>
</tr>

<% } %>
</table>

</body>
</html>
